@font-face {
    font-family: "Ubuntu-italic";
    src: url(../fonts/Ubuntu/Ubuntu-MediumItalic.ttf);
}

@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}

* {
    font-family: Ubuntu-italic;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #202020;
}

.logo-img {
    text-align: center;
    padding: 3%;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 650px;
    background-color: #9980FA;
    border-radius: 25px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
img{
    border-radius: 25px;
}

.Games {
    position: relative;
}

.Game1 {
    position: absolute;
    width: 200px;
    height: 150px;
    left: -18px;
    top: 100px;
}
img:hover{
    box-shadow: 10px orange;
}

.Game2 {
    position: absolute;
    width: 200px;
    height: 150px;
    right: -18px;
    top: 100px;
}

.infos-prob{
    text-align: center;
    margin-top: -25px;
}
input{
    padding: 8px;
    margin: 10px;
    outline: none;
}
.resultats{
    text-align: center;
}

#envoyer-1,#envoyer-2,#reset-1,#reset-2{
    transition: transform .2s; /* Animation */
    border-radius: 10px;
    outline: none;

    
}
#envoyer-1:hover,#envoyer-2:hover,#reset-1:hover,#reset-2:hover{
  transform: scale(1.5);
}
p{
  color: springgreen;
}
